* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 10px;
    background: #edeef0;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav ul li{
    margin: 0 15px;

}

.logo-text {
    font-size: 3em;
    font-weight: 700;
    color: #F05136;
}

.nav-link {
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-link:hover {
    color: #F05136;
}
#home {
    background: black;
    color: white;
    height: 450px;
}

header div p {
    font-size: 2.5em;
    font-weight: 200;
}

h1, h3, h4 {
    font-weight: 700;
    
}
h2 {
    font-weight: 500;
}

h1 {
    font-size: 5em;
}
 h2 {
     font-size: 4em ;
 }
 h3 {
     font-size: 2.5em;
 }
 h4 {
     font-size: 1.8em;
 }
 .link-button {
     text-decoration: none;
     text-align: center;
     background: #F05136;
     cursor: pointer;
     font-weight: 100;
     letter-spacing: 0.5px;
     color: white;
     font-size: 1.8em;
     padding: 10px;
     border-radius: 5%;
     border-color: black;
 }
 .link-button:hover {
     color: white;
 }

 #bio{
     display: flex;
     align-items: center;
     margin: 100px;
 }
 #bio article *{
     margin: 20px;
 }


 #bio img {
     width: 250px;
     height: 250px;
     border-radius: 50%;
 }

 p {
     font-size: 1.5em;
 }
 #portfolio {
     background: black;
     background-color: black;
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 50px;


 }

 #skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

 }

 hr {
     width: 400px;
 }
 #home{
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #portfolio div article {
     background: white;
     color: black;
     height: 200px;
     width: 250px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     border-radius: 10px;
 }
 #portfolio div article p{
     padding: 0 5px;

 }

 progress[value]{
     height: 10px;
     width: 350px;
     -webkit-appearance: none;
 }
 progress[value]:::-webkit-progress-bar{
     background-color: grey;
     border-radius: 2px;
     box-shadow: 0 2px 5px rgba(0, 0, 0.25 inset);
 }

 ::-webkit-progress-value{
     background-color: #F05136;
 }
 #skills ul {
     font-size: 1.5em;
 }
 #footer{
     background-color: black;
     color: white;
 }
 .input{
     line-height: 2em;
     width: 350px;
     border-radius: 3px;
     border-color: black;
     margin: 10px 0;


 }
 .break{
     display:block;
 }
 #portfolio div{
     display: flex;
     justify-content: space-around;
     margin: 10px 0;
     width: 100%;

 }
 #portfolio h3, p, hr{
     margin-bottom: 20px ;
 }

 #skills div{
     display: flex;
     justify-content: space-around;
     width: 100%;
 }
 #skills ul{
     list-style: none;
 }

 #skills ul li{
     margin: 10px 0;

 }

 #skills-container div{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 #contact form{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }

 #contact{
     background-color: black;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: stretch;
     font-size: 170%;
     padding: 40px 0;
 }

 #contact form input:last-child{
     margin-top: 20px;
 }
 marquee{
     font-size: 150%;
 }
 a{
     text-decoration: none;
     color: lightseagreen;
 }
 #colour1{
     color: yellow;
 }
 #colour2{
     color:blue;
 }
 #colour3{
     color:green;
 }
 #colour4{
     color:rgb(9, 96, 226);
 }
 #contact1{
     height: 70px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     font-size: 20px;
     margin-right: 200px;
     margin-left: 200px;
 }
 #last{
     height: 35px;
     background-color: gray;
 }
 #last ul{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: flex-end;
     font-size: 16px;
 }
 #last ul li{
     list-style: none;
 }





